.cabecalho{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(../images/bg-pattern-intro-mobile.svg), linear-gradient(var(--glightred), var(--gdarkred));
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: 40% 35%;
    border-bottom-left-radius: 100px;
}

.cabecalho__header{
    margin: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__logo--img{
    width: 5rem;
}

.botao__menu--hamburguer{
    padding: 1rem;
}

.botao__menu--img {
    
}

.check {
    display: none;
}

.menu__toggle {
    /* display: none; */
    background-color: var(--white-text);
    padding: 0;
    width: 90%;
    top: 7rem;
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    display: block;
    position: absolute;
    color: var(--very-dark-gray-blue);
}

.cabecalho__textos{
    color: var(--white-text);
    text-align: center;
}

.cabecalho__textos--titulo{
    font-weight: 300;
    margin-top: 5rem;
    font-size: 35px;
}

.cabecalho__textos--definition{
    margin: 2rem 3rem;
}


.cabecalho__buttons{
    margin: 2rem 3rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: space-between;
}

.cabecalho__buttons--start{
    margin-left: 0;
    padding: .75rem 1rem;
    border-radius: 25px;
    width: 7.75rem;
    height: 2.75rem;
    background: transparent;
    border: 1px solid var(--white-text);
    color: var(--white-text);
    font-weight: 600;
    font-size: 14px;
}

.cabecalho__buttons--learn{
    padding: .75rem 1rem;
    border-radius: 25px;
    width: 7.75rem;
    height: 2.75rem;
    background: transparent;
    border: 1px solid var(--white-text);
    color: var(--white-text);
    font-weight: 600;
    font-size: 14px;
}

.cabecalho__buttons--start:active {
    background-color: var(--white-text);
    color: var(--light-red);
}

.cabecalho__buttons--learn:active{
    background-color: var(--white-text);
    color: var(--light-red);
}